.navbar-inverse {
	background-image: none;
    background-color: #ACDBF3;
    border-color: #ACDBF3;
}

#add-cart {
    display: inline-block;
    padding: 14px;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.6);
    width: 38px;
    top: 10px;
    left: 17px;
    background-color: white;
    height: 33px;
}

#add-cart .glyphicon-shopping-cart{
	font-size: 27px;
    position: absolute;
    left: 4px;
    top: 3px;
}

#add-cart #itemCount{
    position: absolute;
    right: -11px;
    top: 20px;
    padding: 0px 5px;
    background-color: red;
    border-radius: 50%;
    color: white;
}

.navbar-bars-btn {
    display: block;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-bars-btn .icon-bar{
	display: block;
    background-color: #fff;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-bars-btn .icon-bar+.icon-bar {
    margin-top: 4px;
}

.side-b {
    position: relative
}

.search-bar {
    display: inline-block;
    position: absolute;
    right: 107px;
    top: 10px;
}

.search-bar input{
	padding: 4px 5px 4px 5px;
    border-radius: 4px;
}

.search-bar .glyphicon-search{
	right: 28px;
    top: 2px;
    cursor: pointer;
}

.user-login {
    position: absolute;
    right: 80px;
    top: 10px;
    background-color: white;
    padding: 5px 12px;
}

.after-nav {
    margin-top: 50px;
}

.after-nav .img-responsive{
	width: 100%;
}
.trace-div {
	position: relative;
    top: -40px;
    text-align: center;
}
.trace-div .slide-bar{
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: red;
}
.leftArrow {
    position: absolute;
    top: 40%;
    font-size: 30px;
    left: 30px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 30px;
    padding-left: 2px;
    padding-right: 1px;
}

.rightArrow {
    position: absolute;
    top: 40%;
    font-size: 30px;
    right: 30px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 30px;
    padding-left: 2px;
    padding-right: 1px;
}

.slider-div {
    position: relative;
}

.product {
    border: 1px solid rgba(128, 128, 128, 0.34);
}

.product h3,.product h4{
	padding-left: 10px;
}

.product-details {
    padding: 0px 10px 10px 10px;
}
