$backgroundColor:rgba(207, 207, 207, 0.05);
$buttonColorAndText:#0086FC;
$textColorForPrice:#004676;
$countProductBgColor:#003766;
$border-color:rgba(0, 134, 254, 0.6);
body{
    background-color : $backgroundColor;
}

#add-cart {
	color: $buttonColorAndText;
}

#add-cart:hover {
    transition: all 0.3s;
	color: $countProductBgColor;
    border-color: $countProductBgColor;
}

.user-login:hover {
    transition: all 0.3s;
	color: $countProductBgColor;
}

.search-bar input:focus + .glyphicon-search{
    color: $buttonColorAndText;
}

.navbar-bars-btn{
    .icon-bar {
        background-color: #016DCC;
        transition: all 0.5s;
    }
}

.navbar-bars-btn:focus{
    border: 1px solid $countProductBgColor;
    box-shadow: none;
    outline: none;
}

.change-icon{
    .icon-bar1{
        transform: rotate(-45deg) translate(-5px,3px);
    }
    .icon-bar2{
        opacity: 0;
    }
    .icon-bar3{
        transform: rotate(45deg) translate(-5px,-4px);
    }
}

.product {
    box-shadow: 0px 0px 15px #E9E9E9;
    padding: 0px 7px 0px 0px;
    margin-bottom: 20px;
    background-color: white;
    .product-description{
        margin-top: 20px;
        padding-left: 10px;
        border-top: 1px solid gray;
    }
    
    .quentity-assign-div{
        position: relative;
        margin-bottom: 20px;
        padding-left: 9px;
        .quntity-of-pro {
            border:1px solid $border-color;
        }
        .add-to-cart {
            position: absolute;
            font-size: 24px;
            border: 1px solid #0181DC;
            color: #0181DC;
            padding: 8px 12px 6px 12px;
            border-radius: 100%;
            right: 3px;
            top: -15px;
        }
        
        .add-to-cart:hover {
            transition: all 0.2s;
            box-shadow: 0px 0px 2px 0px;
        }
    }
    
    h3{
        color: $textColorForPrice;
    }
    
    h4{
        span{
            color: $buttonColorAndText;
        }
    }
}