nav{
    .container-fluid{
        div{
            display: inline-block;
        }

        .right-side-nav{
            float: right;
            margin-right: 30px;
            clear: both;

            .search-bar-w-icon{
                position: relative;

                .serch-icon{
                    position: absolute;
                    top: 0;
                    right: 3px;
                    background-color: transparent;
                    border: none;
                }
            }

            .btn-icon{
                .icon{
                    width: 10px;
                    height: 2px;
                    background-color: black;
                    display: inline-block;
                }
            }
        }
    }
}